body{
    font-family:monospace;
    background-color: cadetblue;
    padding: 2rem;
}

button{
    margin: 0.8rem;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none
}

.pageOutput{
    color: white;
    font-weight: 600;
    font-size: 14px;
    background-color: black;
    padding: 10px;
}